*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    color:red;
    background-color: yellow;
    font-size: 50px;
    font-weight: 600;
    font-family: Helvetica, sans-serif, Arial;
}

div{
    width: 650px;
    height: 200px;
    display: inline-block;
    color: blue;
    background-color: yellowgreen;
    padding: 60px;
    text-align: center;
    border: 10px;
    border-style: groove;
    border-color: black;
    margin: 15px;
    
    
}

a{
    font-size: 50px;
}